<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Provenance and Adoption</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1989-1992</h4>
                                    <h4 class="subheading">Extensible Service Switch</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In the late 1980’s the researchers at MCC foresaw the commercial development of the Internet and recognized the potential for a decentralized and distributed server technology to leverage the networked compute power made available by Internet protocols like tcp/ip. Thus, the Extensible Services Switch (ESS) was born. It hosted an actor-based smart contracting language, Rosette, which was capable of receiving requests to deploy smart contracts from a wide range of Internet-enabled services, including data stores, bespoke messaging solutions. and enterprise workflow tools. 

The ESS was initially used for data integration and data cleaning related to physical asset management in a wide range of companies that were stakeholders of MCC, including Eastman Chemical and Kodak, and ATT. Later companies that were customers of MCC stakeholders began adopting the technology. For example, both TSB in England, and Sumitomo bank in Japan, customers of NCR (an MCC stakeholder), adopted use of the ESS for managing their ATM networks.
</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/BizTalkServerLogo2013.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1998 - present</h4>
                                    <h4 class="subheading">BizTalk Process Orchestration</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The next generation was a ground up reimplementation at Microsoft and rebranded BizTalk Process Orchestration. While the core engine of both of these implementations were written in C++, the systems language of choice at that time, the execution mechanism shifted from an actor model, which doesn’t match key enterprise data access patterns, to a concurrent data access model influenced by the Linda Tuple space architecture of David Gelernter. 

Likewise the smart contracting language shifted from an actor-based language to a language based on Milner’s asynchronous π-calculus, for which Milner won the Turing award. This set up the technology for the application of the emerging spatial and behavioral types to provide a new approach to safe and secure concurrent execution, as well as expand on what is searchable.

This second generation was largely used for enterprise workflow and data pipelines. In short, enterprise digital asset management. BizTalk Process Orchestration won product of the year in 2004 and enjoyed deployments in Centrebet, Seoul National University Bundang Hospital, QualCare, Wªrth Handelsges.m.b.H, DTEK, Allscripts, United BioSource, Hogg Robinson, among other companies.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/RChain_Vertical_Lockup_RedSmall.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017 - 2022</h4>
                                    <h4 class="subheading">RChain.coop</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The third generation, dubbed RChain, was a dramatic architectural improvement, this time built on the JVM in the Scala programming language.The major developments were a redesign of the smart contracting language to use the rho-calculus, a significant improvement over Milner’s π-calculus, and a corresponding improvement over the Linda Tuple space data access layer. The new data access layer, dubbed RSpace, brings together the best of both SQL and NoSql, and what was learned from the decade of big data and map reduce deployments.

RChain was used in settings with much larger transaction volumes and much shorter transaction times, such as found in exchanges like MXC. It was also used by the RChain Cooperative community for business decisions requiring a community wide vote, through the decentralized application, RVote. It was picked up by Fabco Technologies to be the core of their Dappy B2B web framework. RChain Cooperative ran a public network supporting these businesses continuously for two years on a 24/7 basis.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/f1r3fly-io-logo.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2023</h4>
                                    <h4 class="subheading">F1R3FLY.io</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The fourth generation takes everything learned from the Scala implementation and applies it to support much, much greater transaction volumes. Specifically, a new implementation of RSpace in the modern systems language Rust provides an articulation of usage patterns that match the dominant data access patterns in the Internet and thus provide a 100x speed up from RChain. 

More importantly, it delivers an improvement on RChain’s ability to scale, providing more than 1000 transactions per second per node per CPU. This makes distributed and decentralized network planning a reality. If a given problem requires 10K transactions per second (tps), it requires a network of at least 10 nodes each with 10 CPUs, while a problem domain requiring 100K tps needs a network of at least 100 nodes with 100 CPUs each.

Thus, a solution provider can scale up or scale down their solution as needed.

Currently the AI company SingularityNet is using F1R3FLY.io to scale up their decentralized AI solutions.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
