<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Features - Advantages - Benefits</h2>
                    <h3 class="section-subheading text-muted">We're not in Kansas anymore, Toto!</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cog fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Scalable</h4>
                    <p class="text-muted">At 1000 transactions per second (tps) per node per cpu, network planning is now a reality. Your community needs 10000tps? No problem. Just launch a 10 node network with 10cpus in each node. Your community needs 100000tps? Launch a 100 node network with 100cpus/node.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-folder fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Storable</h4>
                    <p class="text-muted">F1R3FLY.io is fast enough to store audio and video directly on the network and deliver it up in realtime. In the words of the inimitable Stan Lee -- nuff said!</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-search fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Searchable</h4>
                    <p class="text-muted">Search created the global enconomy. Network architectures that don't allow search are a step backwards. Not only does F1R3FLY.io let you store data directly on each node; rholang lets you search across your network. In fact, the OSLF algorithm dramatically expands what is searchable.</p>
                </div>
		<div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Secure</h4>
                    <p class="text-muted">Scalability doesn't just mean throughput. It also means your network doesn't leak information and it doesn't process unauthorized transactions, for starters. The spatial-behavioral types for rholang catch these kinds of errors and more long before code ever gets deployed to production.</p>
                </div>
            </div>
        </div>
    </section>
